@import url(./reset.css);

:root {
    --item-1: #ca447e;
    --item-2: #d14977;
    --item-3: #d85070;
    --item-4: #e05b69;
    --item-5: #e76662;
    --item-6: #ee745a;
    --item-7: #f48252;
    --item-8: #f88f4b;
    --item-9: #fb9c44;
    --item-10: #fda83d;
    --item-11: #feaf36;
    --item-12: #ffb52f;
    --col-span: 3;
    --row-span: 4;
}

body {
    padding: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
    gap: 2rem;
    margin: 3rem 0;
}

.grid-item {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.grid-item::before {
    content:"";
}


.landscape {
    grid-column: span var(--col-span);
}

.portrait {
    grid-row: span 2;
}

.square {
    grid-area: span 2 / span 2;
}

.item-1 {
    background-color: var(--item-1);
}

.item-2 {
    background-color: var(--item-2);
}

.item-3 {
    background-color: var(--item-3);
}

.item-4 {
    background-color: var(--item-4);
}

.item-5 {
    background-color: var(--item-5);
}

.item-6 {
    background-color: var(--item-6);
}

.item-7 {
    background-color: var(--item-7);
}

.item-8 {
    background-color: var(--item-8);
}

.item-9 {
    background-color: var(--item-9);
}

.item-10 {
    background-color: var(--item-10);
}

.item-11 {
    background-color: var(--item-11);
}

.item-12 {
    background-color: var(--item-12);
}