$nav-bgcolor: #008080;
$li-bgcolor: #032727;
$li-padding: 3px 6px;
$a-color: #fff;

nav {
  background-color: $nav-bgcolor;
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    li {
      background-color: $li-bgcolor;
      padding: $li-padding;
      a {
        color: $a-color;
      }
    }
  }
}
