nav {
  background-color: #008080;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}
nav ul li {
  background-color: #032727;
  padding: 3px 6px;
}
nav ul li a {
  color: #fff;
}